body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}


body {
    background-color: #f5f1f8;
}

.icon {
    width: 170px;

}

.navbar {
    background-color: #06003C;
    font-family: 'Mark Pro';
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0;
}

.login-list {
    font-weight: bold;
    font-size: 15px;
}

.nav-link {
    color: white;
}

.footer {
    background-color: #0DCAF0;

}

.socialmedialist {
    display: inline;
    list-style: none;
    margin-left: 25px;
    justify-content: center;
}

.footerlist {
    list-style: none;

}

.freepage {
    min-height: 57vh;
    background-color: #f5f1f8;
}

.footerheads {
    color: white;
    font-family: 'Mark Pro';
}

.linkler {
    text-decoration: none !important;
    color: #06003C !important;
    text-decoration-color: #06003C !important;

}

.linkler:hover {
    color: #06003C;
}

.applist {
    /*display: inline;*/
    list-style: none;
    justify-content: center;
    width: 10rem;

}

.footerimg {
    list-style: none;
    display: inline;
}

.footertext {
    color: white;

}

.upside {
    margin-top: 8rem;
}

.signupbtn {
    text-decoration: none !important;
}

.bodyheader {
    color: #06003C;
    font-family: 'Mark Pro';
}

.bodytext {
    color: gray;
    font-family: 'Mark Pro';

}

.cursor-pointer {
    cursor: pointer;
}

.footerspons {
    display: grid;
    justify-content: end;
}

.imgmain1 {
    height: 300px;
}

.imgmain2 {
    height: 300px;
}

.imgmain3 {
    height: 500px;
}

#payiwa-menu {

}

@media screen and (min-width: 768px ) and (max-width: 986px ) {
    .ipad {
        margin-top: 1rem;
        display: block !important;
        text-align: center;
    }
}

@media screen and (max-width: 986px) {
    #payiwa-menu {
        display: none;
    }

    #destek-menu {
        display: none;
    }

    .ipad {
        display: block !important;
    }

    .imgmain1 {
        height: 200px;
        margin: auto;
    }

    .imgmain2 {
        height: 300px;
        margin: auto;
    }

    .imgmain3 {
        height: 200px;
        width: 100%;

    }

    .owl-carousel .item {
        margin: auto;
        width: 75%;
    }

    .navbar-collapse {
        margin-top: 1.9rem;
        position: fixed;
        top: 50px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 75%;
        height: 100%;
        background-color: #06003C;
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }

    .logo {
        margin: auto;
    }

    .autbtn {
        position: fixed;
        bottom: 1.5rem;
        width: 100%;
    }

    .w-34 {
        width: 34%;
    }

    .destekbtn {
        color: #0DCAF0 !important;
        text-align: center;
    }

    .destekbtndiv {
        border-radius: 6px;
        border: 1px solid #0DCAF0;
    }

    .combtn {
        color: white !important;
        text-align: center;
    }

    .combtndiv {
        border-radius: 6px;
        border: 1px solid white;
    }

    .footerspons {
        display: block;
        justify-content: normal;
    }

    .border-bottoms-mob {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }

    .footer-mob-element {
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .mob-m-2 {
        margin: 1rem;
    }


}

.border-bottoms {
    border-bottom: 1px solid rgba(0, 0, 0, .1) !important;
}

